@import url("reset.css");
@import url('codestyle.css');

@font-face {
    font-family: Rosemary;
    src: url(Rosemary.ttf);
}

* {
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {background: #eef;}



/**importing other file to load first*/
/*importar o incluir archivos external */
@import url("reset.css");

body {
    background-color: #eef;
}
h2 {
    margin-top: 1.3em;
}
p {
    line-height: 1.3;
    padding: 15px;
    font-size: 1.1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*=====================TOP HEADER SECTION====================*/
    #header-top {
        /*with  % make container relative 
        to size and can be centralized*/
        max-width: 100%;
        /*CENTER THE HEADER == 
        CENTRALIZAR EL ENCABEZADO*/
        margin: 0 auto;
        color:  white;
        display: flex;
        /*CENTER THE HEADER'S CHILD == 
        CENTRALIZAR EL ENCABEZADO*/
        justify-content: center;
        text-transform: uppercase;
    }

    /*on large screen 
    this button is invisible*/
    .top-message {
        display: none;
    }

    #top-nav-hori {
        width: 100%;
        margin: 0 auto;
        padding: 15px;
        border-radius: 0 0 6px 6px;
        text-align: center;
    }
    #top-nav-hori a {
        padding: 9px;
        text-decoration: none;
        color:  white;
        border-radius: 6px 0 0 6px;
        background-color: #383855;
    }
/*===================== END OF HEADER  TOP SECTION====================*/

/*===========================the other section top line=======================*/
    .container-topline {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        width: 60%;
        margin: 13px auto;
    }
    .just-top-line {
        font-size: 16px;
        flex: 2;
        width: 16%;
        border-bottom: 2px #1f1f5a double;
    }

    .top-text {
        flex: 1;
        color: whitesmoke;
        border-radius: 100px; 
        background: #1f1f5a;
        font-size: 14pt;
        padding: 10px;
        box-shadow: 5px 5px #383855;
    }
    .top-text span {
        text-align: center;
        margin-left: 55px;
    }
/*-------==========-------end  section top line---===================------*/

/*=====================WRAPPER AND MAIN SECTION====================*/
    #wrapper {
        display: flex;
        justify-content: space-around;
        align-content: space-around;
        background-color: #eef;
    }

    main {
        flex: 3;
        background-color: white;
        color: #1f1f5a;
        line-height: 1.5;
        margin: 0 auto;
        max-width: 60%;
        padding: 2em 3em 2em;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        flex-wrap: wrap;
    }

    main a {
    color: #1f1f5a;
    }

    .grid-column {
        flex: 1;
        flex-basis: 30%;
        margin: 10px;
        height: auto;
    }

    .grid-column img, video {
        max-width: 100%;
        height: auto;
        flex: 1;
    }

    .one3 {
        border-bottom: 1px gray groove;
    }

    img {
        border: 10px solid rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        display: block;
        margin: 1.3em auto;
        max-width: 95%;
    }
    
    video {
    width: 100%;
    height: auto;
    background: white;
    margin: 0 auto;
    }

    aside  {
        flex: 1;
        order: -1;
        margin-left: 0 auto;
    }


    aside li {
        
        border-bottom: 1px solid white;
        padding: 15px;  
        list-style-type: none;
        color: white;
    }

    aside li a  {
        color: #1f1f5a;
        
    }


    aside  li:hover, aside li:focus {
        background: #1f1f5a;
        color: white;
    }

    aside:hover {
        border-radius: 5px 5px;
        border:  1px solid #1f1f5a;
    }


    
    .keepWhiteSpace:first-child {
        color: greenyellow;
    }

    .predefined {
        color: gray;
        display: block;
    }

    /*all the anchor tags on mouse over*/
    main a:hover {
    background-color: #1f1f5a;
    color: white;
}
    /*all paragraph that is direct child of a div*/
    div > p {
    color: #1e1e1e;
}

/*------------------give the conten a design-----------------------*/
    li.contents {
        padding: 7px; 
        border-bottom: 1px groove #1f1f5a;
        border-radius: 5px 5px;
        margin-bottom: 5px;
        font-weight: bolder;
        color:  #1f1f5a;
    }
    li.contents a {
        text-transform: capitalize;
    }

    ul.hiding-content {
        display: none;
    }
    ul.hiding-content li {
        background: #1f1f5a;
    }
    ul.hiding-content a {
        color: white;
        width: 100%;
    }
    /*give the hide-content a lil space*/
    li.contents ul.hiding-content {
        padding: 10px;
        color: white; 
    }

    li.contents:hover  {
        border-radius: 5px 5px;
        color: white; 
    }

    li.contents ul.hiding-content a {
        font-weight: bolder; 
        text-transform: uppercase;
        text-decoration: none;   
    }
    /*------------------give the conten a design-----------------------*/


/*===============end==of===WRAPPER===section====================*/


/*============++++++ FOOTER CONTAINER+++++++===========*/
    footer {
        color: #eef;
        display: block;
        text-transform: uppercase;
        background: #1f1f5a;
    }
    footer div {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
    footer ul {
        text-align: center;
    }
/*============++++++END OF FOOTER CONTAINER++++++===========*/