
@import url("reset.css");


/*=====================TOP HEADER SECTION====================*/
    #header-top {
        
        
        /*CENTER THE HEADER == 
        CENTRALIZAR EL ENCABEZADO*/
        
        color:  white;
        
        /*CENTER THE HEADER'S CHILD == 
        CENTRALIZAR EL ENCABEZADO*/
        justify-content: center;
        text-transform: uppercase;
    }

    /*on large screen 
    this button is invisible*/
    .top-message {
        display: none;
    }

    #top-nav-hori {
        width: 100%;
        margin: 0 auto;
        padding: 15px;
        border-radius: 0 0 6px 6px;
        text-align: center;
    }
    #top-nav-hori a {
        padding: 9px;
        text-decoration: none;
        color:  white;
        border-radius: 6px 0 0 6px;
        background-color: #383855;
    }
/*===================== END OF HEADER  TOP SECTION====================*/

/*<!--this the top line section-->*/
    .container-topline {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        width: 80%;
        margin: 13px auto;
    }
    .just-top-line {
        font-size: 16px;
        flex: 2;
        width: 20%;
        border-bottom: 2px #1f1f5a double;
    }

    .top-text {
        flex: 1;
        color: whitesmoke;
        border-radius: 100px; 
        background: #1f1f5a;
        font-size: 14pt;
        padding: 10px;
        box-shadow: 5px 5px #383855;
    }
    .top-text span {
        text-align: center;
        margin-left: 55px;
    }
/*<!--end top line section-->*/
a:hover {
    color: white;
}

p {
    line-height: 1.3;
    padding: 5px;
    font-size: 1.1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/*all the anchor tags on mouse over*/

/*all paragraph that is direct child of a div*/
div > p {
    color: #1e1e1e;
}

/*=====================WRAPPER AND MAIN SECTION====================*/
    #wrapper {
        display: flex;
        justify-content: space-around;
        background-color: white;
        max-width: 80%;
        margin: 0 auto;
    }
    main {
        /*3 time bigger 
        than its sibbling*/
        flex: 3;
        background-color: white;
        color: #1f1f5a;
        line-height: 1.5;
        flex-basis: 80%;
        padding: .3em 1em .3em;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        display: flex;
        /*wrap to next line 
        --no space availble*/
        flex-wrap: wrap;
        box-sizing: border-box;
    }


    .grid-column {
        flex: 1;
        margin: 10px;
    }
    
    .grid-column img {
        width: 290px;
    }

    .col-1 {
        flex: 1;
        flex-basis: 20%;
    }
    .fourth {
        flex: 2;
        flex-basis: 50%;
        border: 3px groove gainsboro;
        padding: 10px;
    }

    .hiding-content {display: none;}

    aside  {
        flex: 1;
        flex-basis: 20%;
        order: -1;
        box-sizing: border-box;
        font-size: 1.3em;
        text-transform: uppercase;
    }
    aside li {
        border-bottom: 1px solid white;
        padding: 10px;  
        list-style-type: none;
        overflow: hidden;
    }
    aside li a  {color: #383855;}

    aside  li:hover  {
        background: #383855;
        color: white;
    }
    aside:hover, main:hover {
        border-radius: 5px 5px;
        border:  1px solid #1f1f5a;
    }
    aside li:hover a {
        color: white;
    
    }
    /*styling the form*/
    form {
        width: 40%;
        margin: 0 auto;
        box-sizing: border-box;
        font-weight: bolder;
        padding: 25px;
        border: 2px #1f1f5a outset;
        text-transform: capitalize;
        height: auto;
    }

    #myform div {margin-top:  25px;}

    label {
        color: #1f1f5a;
        width: 150px;
        padding-right: 10px;
    }
    input {
        width: 250px;
        border-radius: 7px 7px;
        font-size: 13pt;
    }
    input:focus {
        background: wheat;
    }
    input[type="submit"] {
        background: #1f1f5a;
    }
    input::-webkit-input-placeholder {
        color: #1f1f5a;
    }
/*===============end==of===WRAPPER===section====================*/
footer {
    margin: 0 auto;
    color:  white;
    background:  #1f1f5a;
    display: block;
    text-transform: uppercase;
    flex-basis: 100%;
    box-sizing: border-box;
}
footer div {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
footer ul {
    text-align: center;
}


