

:root {
    --bg-color: white;
    --side-bar-bg-color: #f5f7f9;
    --control-text-color: #3b454e;
    --primary-color: #3884ff;
    --primary-btn-border-color: #3884ff;
    --active-file-bg-color: #e6ecf1;
    --active-file-text-color: inherit;
    --active-file-border-color: #3884ff;
    --item-hover-text-color: #242a31;
    --item-hover-bg-color: #f5f7f9;
    --window-border: 1px solid #e6ecf1;
    --select-text-font-color: white;
    --select-text-bg-color: #1968e6;
  
    --md-char-color: #9daab6;
    --heading-char-color: #9daab6;
    --meta-content-color: #3884ff;
  
    --borders: #e6ecf1;
    --table-border-color: #e6ecf1;
    --boxes: #f5f7f9;
    --boxes-darker: #d8e0e7;
    --boxes-darker2: #bac2c9;
    --boxes-darkest: #9daab6;
    --drag-placeholder-color: #d8e0e7;
  
    --text-color: #3b454e;
    --heading-text-color: #242a31;
    --light-text-color: #9daab6;
    --light-text-color-darker: #74818d;
    --codeboxes: #080430;
    --codeboxes-lighter: #1c375f;
    --rawblock-edit-panel-bd: transparent;
  
    --primary-color-darkest: #001f50;
    --primary-color-darker2: #00307c;
    --primary-color-darker: #1968e6;
    --focus-ring-color: #3884ff;
  
    --danger-color: rgb(255, 70, 66);
  
    --node-fill: #ececff;
    --node-border: #ccccff;
    --cluster-fill: #ffffde;
    --cluster-border: #aaaa33;
    --note-fill: #fff5ad;
    --note-border: #aaaa33;
  
    /*****************************/
  
    --font-family: 'Roboto', sans-serif;
    --code-font-family: 'Source Code Pro';
    --monospace: 'Source Code Pro';
  }



  code, pre {
    border-left: 6px solid #410d86;
    font-size: 1rem;
    line-height: 1.4;
    margin: 0 0 24px;
    max-width: 100%;
    overflow: auto;
    padding: 24px;
    width: 100%;
  }