/**************************************
IMPORTING OTHER FILE TO LOAD FIRST
*************************************/

body {
    background-color: #eef;
}
.header-pages {
    /*with  % make container relative to size and can be centralized*/
    margin: 0 auto;
    
}