/**************************************
IMPORTING OTHER FILE TO LOAD FIRST
*************************************/


/********************************
    RESET DEFAULT BEHAVIOR
********************************/
a {
    text-decoration: none;
}

body {
    background-color: #eef;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
}

/*===================== HEADER PAGES SECTION===========================*/
.header-pages {
    /*with  % make container relative to size and can be centralized*/
    width: 80%;
    margin: 0 auto;
}

#nav-horizontal-menu {
    width: 100%;
    margin: 15px auto;
    padding: 15px;
    border-radius: 0 0 6px 6px;
    text-align: center;
}
#nav-horizontal-menu a {
    color: white;
    background-color: #383855;
    padding: 9px;
    border-radius: 6px 0 0 6px;
    
}
.docweb {
    margin: 0 auto;
    text-align: center;
}

.container-topline {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 13px auto;
}

.header-line {
    font-size: 16px;
    flex: 2;
    width: 2000px;
    border-bottom: 2px #1f1f5a double;
}

.docweb {
    display: flex;
}
.docweb-text-logo {
    background: #1f1f5a;
    font-size: 14pt;
    color: whitesmoke;
    padding: 10px;
    border-radius: 100px;
    box-shadow: 5px 5px #383855;
}
/*===================== END OF HEADER  TOP SECTION====================*/